:root {
    --black: #191919;
    --gray: #2a2a2a;
    --red: #f87272;
    --white: #e9e9E9;
    --smallest-font: 0.70rem;
    --small-font: 0.75rem;
    --medium-font: 0.85rem;
    --notification-font: 0.8rem;
    --big-font: 1rem;   /* used in project header*/
    --nav-height: 63px;
    --footer-height: 35px;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--white);
}

.transition {
    transition: all 250ms;
}

.semi-bold {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 900;
}

.project-header {
    font-size: var(--small-font);
    text-transform: uppercase;
    font-weight: 700;
}

.smallest-font {
    font-size: var(--smallest-font);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spinner{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.5)
}

.nav-container {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black);
}

.nav-conatiner--logo {
    height: 100%;
    padding: 5px 0 5px 15px;
    cursor: pointer;
}

.nav-container--header {
    /* margin-left: auto; */
    padding: 0 10px;
}

.nav-container--header---text {
    padding-right: 15px;
}

.home {
    min-height: calc(100vh - var(--nav-height) - var(--footer-height));
    background: var(--gray);
}

.home--section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.home--section--login-box {
    margin-top: 10vh;
    width: 300px;
    height: 300px;
    border: 8px solid var(--black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.address-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-holder--avatar {
    padding:1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.address-holder--avatar--img {
    width: 100%;
    height: 100%;
}

.address-holder--text{
    margin-left: 5px;
}

.address-holder--disconnect {
    margin-left: 5px;
    background: #f87272;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 250ms;
}

.address-holder--disconnect:hover {
    transform: scale(1.05);
}

.address-holder--disconnect-img {
    padding: 2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login-box--header {
    background: var(--black);
    padding: 5px 0 12px 0;
    width: 100%;
    text-align: center;
    font-size: var(--big-font);
}

.login-box--main {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box--main--btn {
    background: var(--black);
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    transition: all 250ms;
}

.login-box--main--btn:hover{
    background: none;
    border: 3px solid var(--black);
    color: var(--black);
}

.login-box--main--btn-text{
    padding: 10px;
    text-transform: uppercase;
}

.shop {
    margin: 50px 0;
    width: 60vw;
    min-width: 400px;
    max-width: 600px;
    border: 4px solid var(--red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop--header {
    background: var(--red);
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--black);
    text-transform: uppercase;
    /* letter-spacing: px; */
}

.shop--section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: var(--medium-font);
}

.shop--section--withdrawal {
    padding: 10px 10px 0 10px;
    width: 100%;
    display: flex;
    justify-items: space-around;
    align-content: space-around;
}

.shop--section--withdrawal--text {
    margin-right: auto;
    display: flex;
    justify-items: center;
    align-content: center;
    padding: 5px 10px;
}

.shop--section--withdrawal--btn {
    display: flex;
    margin-right: 10px;
}

.shop--section--withdrawal--btn-btn {
    border: 1px solid var(--red);

    border-radius: 5px;
    color: var(--red);
    padding: 5px 10px;
    cursor: pointer;
}
.shop--section--withdrawal--btn-btn:hover {
        background: var(--red);
        color: var(--black);
}

.vending--section--heading {
    margin-right: auto;
    margin-left: 15px;
}

.vending--section--row--add-item {
    display: flex;
    align-items: center;
    height: 30px;
    width: 95%;
}

.vending--section--row--add-item > .vending--section--row--img {
    display: flex;
    align-items: center;
    width: 18%;
}
.vending--section--row--add-item > .vending--section--row--img > input {
    display: none;
}
.vending--section--row--add-item > .vending--section--row--img > div {
    width: 100%;
    max-width: 100px;
    padding: 4px 1px;
}
.vending--section--row--add-item > .vending--section--row--title {
    width: 38%;
}
.vending--section--row--add-item > .vending--section--row--price {
    width: 15%;
}
.vending--section--row--add-item > .vending--section--row--input {
    width: 15%;
}
.vending--section--row--add-item > .vending--section--row--buyBtn {
    width: 15%;
    height: 100%;
    min-width: 35px;
}

.vending--section--filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vending--section--filters--item {
    margin-bottom: 10px;
    margin-left: 10px;
    background: var(--red);
    padding: 3px 5px;
    border-radius: 3px;
    color: var(--black);
    transition: all 250ms;
    cursor: pointer;
}
.vending--section--filters--item:hover {
    border: 1px solid var(--red);
    background: none;
    color: var(--red);
}

.vending--section--row {
    margin: 7px 0;
    display: flex;
    align-items: center;
    height: 30px;
    width: 95%;
}

.vending--section--row--img {
    width: 7%;
    height: 100%;
}
.vending--section--row--img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}

.vending--section--row--title {
    width: 43%;
    display: flex;
    align-items: center;
}
.vending--section--row--title > span {
    padding: 5px;
}

.vending--section--row--price {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.vending--section--row--price > span {
    padding: 5px 10px 5px 5px;
}

.vending--section--row--input {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vending--section--row--input > span {
    padding: 5px;
}

.vending--section--row--buyBtn {
    width: 18%;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    border-radius: 4px;
    border: 1px solid var(--red);
    cursor: pointer;
    transition: all 250ms;
}
.vending--section--row--buyBtn:hover {
    color: var(--black);
    border-radius: 4px;
    /* border: 1px solid var(--red); */
    background: var(--red);
    cursor: pointer;
}
.vending--section--row--buyBtn > span {
    padding: 5px;
    font-weight: 600;
}

.notfication-hide {
    display: none !important;
}

.notification {
    /* transition: all 250ms; */
}
.notfication-container {
    width: 100vw;
    height: 40px;
    position: fixed;
    top: var(--nav-height);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    padding: 5px 15px;
    opacity: 0.8;
    font-size: var(--notification-font);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notfication--message {
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.notfication--message--text--title {
    text-transform: uppercase;
    font-weight: 700;
}
.notfication--message--text--msg {
    text-transform: capitalize;
    font-weight: 400;
}

.notfication--btn {
    height: 100%;
    border: 2px solid var(--black);
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius:5px;
    cursor: pointer;
    font-weight: 500;
    transition: all 250ms;
}
.notfication--btn:hover {
    background: var(--black);
    color: var(--white);
    font-weight: 700;
}

.notfication--btn--close {
    height: 100%;
}

.notfication-success {
    background: rgb(8,255,8);
}
.notfication-error {
    background: rgb(255, 49, 49);
    color: var(--white);
}
.notfication-warning {
    background: rgb(255, 240, 31);
}

.footer-container {
    height: var(--footer-height);
    background: var(--black);
    font-size: var(--small-font);
    display: flex;
    align-items: center;
}

.footer-container--text {
    padding: 0 15px;
    text-transform: uppercase;
}

.footer-conatiner--tech {
    height: 100%;
    max-width: 500px;
    margin-left: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
